* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 3em 2em auto 3em;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-left main sidebar-right"
    "footer footer footer";
}
aside {
  grid-area: sidebar-left;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
#sidebar {
  grid-area: sidebar-right;
}

#navbar {
  display: grid;
  justify-content: center;
  font-size: 20px;
  background: #333;
  color: #fff;
}

.w3s_logo {
  height: 38px;
  width: 36px;
}
