* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 3em 2em 600px 3em;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-left main sidebar-right"
    "footer footer footer";
}
aside {
  grid-area: sidebar-left;
}
