* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns:.5fr 1fr .5fr;
  grid-template-rows: 3em 2em auto 3em;
  grid-template-areas: "header header header"
  "nav nav nav"
  "sidebar-left main sidebar-right"
  "footer footer footer";
}
aside {
  grid-area: sidebar-left;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
#sidebar {
  grid-area: sidebar-right;
}

.w3s_logo {
  height: 38px;
  width: 36px;
}

.w3s_logo:hover {
  background: aqua;
  box-shadow: 0px 0px 50px;
  color: aqua;
}

#spacebackground {
  background: rgb(34, 4, 63);
}

#footer {
  color: white;
}

.footer_link_1 {
  color: rgb(242, 255, 141);
}

